# Ignore environment files
.env
# Ignore PostgreSQL persistent data
traefik/acme/
pgdata/
# Ignore Docker-related files
*.pid
*.log

/letsencrypt
/services/identity-service/dist
/services/pharmacy-service/dist
/services/shared/dist
/services/node_modules
/.vscode